body{
    background-color:rgb(6,9,32);
   background-image: url('./logo.png');
   background-repeat:no-repeat;
   width: 100vw;
   height: fixed !important;
   background-size:50px;
   background-position-x: 2%;
   background-position-y: 100%;
   display:flex;
   align-content: center;
   justify-content: center;
   color: white;
   letter-spacing: 0.05rem;
   font-family: 'Oxygen', sans-serif;
   font-size: 22px;
   width: 40rem;
   margin: 10vh auto;
}
.tip-number {
  margin: auto;
  margin-bottom: 2.5rem;
  color: #CCCCCC;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 1rem;
}
.tip{
    width: 100%;
}

.tip-button {
  background-color: #34B3A0;
  outline: none;
  padding: 1rem 1.5rem;
  display: inline-block;
  margin: auto;
  font-size: 1rem;
  margin-top: 2.5rem;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  color: white;
}

.disabled {
  background-color: #D8D8D8 !important;
  color: #888;
  cursor: not-allowed !important;
}
.js-tip {
  margin: auto;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.375rem
}
.footer{
    color:#fff;
    font-size: 10px;
    position: absolute;
    bottom:1%;
    right:1%;
    display:fixed;
}
.code {
  font-family: monospace;
  background-color: #336180;
  padding: 0.25rem 0.75rem;
  font-size: 1.375rem;
  border-radius: 0.15em;
}

.code-block {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  background-color: #336180;
  padding: 0.5em 0.75em;
  font-size: 1.15rem;
  border-radius: 0.15rem;
  display: block;
  margin: 1rem 0;
}
b{
    color:cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.disabled{
    cursor: not-allowed;
    background-color :#D8D8D8 !important;
    color:#888;

}